.social-menu body{
    background-image: url("../images/Menu.jpeg");
    background-size: cover;
}
.social-menu ul {
    display:flex;
    
    transform: translate(10%,50%,50%);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 0;
    
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgb(199, 54, 155);
    background: linear-gradient( rgb(206, 24, 175),rgb(248, 163, 6));
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #ec0a0a;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color:rgb(22, 21, 21);
    background: linear-gradient(rgb(3, 182, 3),rgb(240, 224, 6),red,rgb(7, 96, 240));   
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #1572a8;
    background: linear-gradient(rgb(81, 238, 238), green);
}