@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.image{
  margin:0;
    padding:0;
    background-image: url(Home.jpg);
    background-size:cover;
    background-position: center;
    background-position: top;
    min-height: 1050px;
    min-width: 400px;
}


.wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #070707;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    font-size: large;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
    text-decoration: none;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #3b3b3b;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
   

 
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
    font-size: large;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }

  .wrapper .main_content .info
  {
      
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .wrapper .main_content .card
  {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 2%;
  }
  .wrapper .main_content .info .connect_us{
  transform: translate(0, 50%);
  }

  .wrapper .main_content .info .connect_us .social-menu
  {
      display: flex;
      margin-left: 35% ;
      margin-right: 30%;
      text-align: center;
      vertical-align: middle;
      position: relative;
      justify-content: center;
      align-items: center;
  }

  .wrapper .main_content .info .connect_us .inner
  {
      display: block;
      margin-left: 20% ;
      margin-right: 20%;
      text-align: center;
      
  }
  .wrapper .main_content .question
  {
    display: block;
    margin-left: 20% ;
    margin-right: 20%;
    text-align: center;
    
  }

